<h1 id="tableLabel">URL Shortener, Custom Links & Link Management</h1>

<p>Paste the link to generate short link</p>

<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <div class="row" style="margin-top:10px; padding-left:20px">
      <input type="text" name="name" [(ngModel)]="link.longUrl" />
    </div>
    <div class="row" style="margin-top:10px; padding-left:20px">
        <button type="submit" class="btn btn-success">Generate</button>
      </div>
    </div>
    <div class="row">
      <label>{{link.shortUrl}}</label>
    </div>
</form>
